---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout />
<main>
  <h1>Førfattere</h1>
  <section>
    <article>
      <h2>A</h2>
      <ol class="navn">
        <li><a href="kategoriside.html"> <p>A. E. Cannon</p></a></li>
        <li><a href="kategoriside.html"> <p>A. H. Benjamin</p></a></li>
        <li><a href="kategoriside.html"> <p>Adrienne Jones</p></a></li>
        <li><a href="kategoriside.html"> <p>Alane Ferguson</p></a></li>
        <li><a href="kategoriside.html"> <p>Amalie Riising</p></a></li>
        <li><a href="kategoriside.html"> <p>Amanda Oneill</p></a></li>
        <li><a href="kategoriside.html"> <p>Amanda Sun</p></a></li>
        <li><a href="kategoriside.html"> <p>Amy Ehrlich</p></a></li>
        <li><a href="kategoriside.html"> <p>Analolij Pristavkin</p></a></li>
        <li><a href="kategoriside.html"> <p>Anders Brønserud</p></a></li>
      </ol>
    </article>

    <article>
      <h2>B</h2>
      <ol class="navn">
        <li> <a href="kategoriside.html"><p>Barbara Jacobs</p></a></li>
        <li> <a href="kategoriside.html"><p>Barbara Taylor</p></a></li>
        <li> <a href="kategoriside.html"><p>Barbara Ware Holmes</p></a></li>
        <li> <a href="kategoriside.html"><p>Barbara Wersba</p></a></li>
        <li> <a href="kategoriside.html"><p>Barrie Wade</p></a></li>
        <li> <a href="kategoriside.html"><p>Barthe Declements</p></a></li>
        <li> <a href="kategoriside.html"><p>Becca Fitzpatrick</p></a></li>
        <li> <a href="kategoriside.html"><p>Benny Andersen</p></a></li>
        <li> <a href="kategoriside.html"><p>Bent B. Nielsen</p></a></li>
        <li> <a href="kategoriside.html"><p>Bente Larsen</p></a></li>
      </ol>
    </article>
    <article>
      <h2>C</h2>
      <ol>
        <p>C. C. Hunter</p>
        <li>  <a href="kategoriside.html"></a><p>Camilla Simonsen</p></li>

        <li> <a href="kategoriside.html"> <p>Carina Evytt</p></a></li>
        <li> <a href="kategoriside.html"><p>Carl Bang</p></a></li>
        <li> <a href="kategoriside.html"><p>Carol Gaskin</p></a></li>
        <li> <a href="kategoriside.html"><p>Carol Matas</p></a></li>
        <li> <a href="kategoriside.html"> <p>Carolyn Meyer</p></a></li>
        <li> <a href="kategoriside.html"> <p>Caron Krauth</p></a></li>
        <li>  <a href="kategoriside.html"> <p>Carsten Nagel</p></a></li>
        <li> <a href="kategoriside.html"> <p>Cecilie Birkshøj</p></a></li>
      </ol>
    </article>
  </section>

  <article>
    <h2>D</h2>
    <ol class="navn">
        <li> <a href="kategoriside.html"> <p>Dagmar Chidolue</p></a></li>
        <li> <a href="kategoriside.html"> <p>Dan Green</p></a></li>
        <li><a href="kategoriside.html"> <p>Dan Parkinson</p></a></li>
        <li> <a href="kategoriside.html"> <p>Daniel Goldberg</p></a></li>
        <li> <a href="kategoriside.html"> <p>David Eddings</p></a></li>
        <li> <a href="kategoriside.html"> <p>David Wiseman</p></a></li>
        <li> <a href="kategoriside.html"> <p>Den mandige elg</p></a></li>
        <li> <a href="kategoriside.html"> <p>Dennis Jürgensen</p></a></li>
        <li> <a href="kategoriside.html"> <p>Deri Robins</p></a></li>
        <li> <a href="kategoriside.html"> <p>Diana Goode</p></a></li>
    </ol>
  </article>
</main>

<style>
  h2 {
    padding-bottom: 5px;
  }
  section {
    display: grid;
    gap: 20px;
    margin-block: 30px;
  }
  main {
    margin: 0 auto;
    max-width: 1300px;
  }
  ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 600px) {
    ol {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
