---
import "../styles/tokens.css";
import "../styles/base.css";
import "../styles/global.css";
import MainHeader from "../components/MainHeader.astro";
import ProductCardSection from "../components/ProductCardSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Genre from "../components/Genre.astro";
import Kategorifilter from "../components/Kategorifilter.astro";
---

<MainLayout title="Kategorier">
  <MainHeader title="Kategorier" beskrivelse="Se vores store udvalg" />
  <main>
    <Kategorifilter />
    <Genre />
  </main>
</MainLayout>

<!-- <script>
  const mobileDropDown = document.querySelector(".mobile-down");
  const showMe = document.querySelector(".showMe");
  const products = document.querySelector(".products");
  const toggle = document.querySelector("#toggle");

  mobileDropDown.addEventListener("click", openDropdown);

  function openDropdown() {
    showMe.classList.toggle("hidden");
  }

  mobileDropDown.addEventListener("click", () => {
    products.classList.toggle("blurBg");
  });

  console.log(mobileDropDown);

  var dropdownButtons = document.querySelectorAll(".dropdown-button");

  for (var i = 0; i < dropdownButtons.length; i++) {
    dropdownButtons[i].addEventListener("click", function () {
      var dropdown = this.nextElementSibling;
      var isOpen = this.classList.toggle("open");
      dropdown.style.display = isOpen ? "block" : "none";
    });
  }
  var dropdownSearches = document.querySelectorAll(".dropdown-search");
</script> -->
