---
import Button from "./Button.astro";
---

<!-- Cookies -->
<div class="relative cookie-box" x-data="{cookies: true}" @keydown.window.escape="cookies = false">
  <!-- Indhold til cookies -->
  <div x-show="cookies" class="z-50 cookie-box-container bg-white" style="display: none" x-transition:enter="transition ease-in duration-200" x-transition:enter-start="opacity-0 transform -translate-x-40" x-transition:enter-end="opacity-100 transform translate-x-0" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100 transform translate-x-0" x-transition:leave-end="opacity-0 transform -translate-x-40">
    <!-- Text -->
    <div class="overflow-hidden">
      <div class="relative overflow-hidden px-8 pt-8">
        <div class="text-yellow-500">
          <img src="/tellerup_logo3_primaer.webp" alt="logobillede" class="logo" />
        </div>
        <div class="flex flex-col pt-4 text-2xl">
          <h3 class="text-slate-400">Cookies</h3>
        </div>
        <div class="pb-4">
          <p class="text-slate-900">Vi bruger cookies til at forbedre din brugeroplevelse. Ved at besøge vores hjemmeside accepterer du brugen af cookies. Vi beskytter dine personlige oplysninger og deler dem ikke med tredjeparter uden dit samtykke. Du har altid mulighed for at trække dit samtykke tilbage.</p>
        </div>
      </div>
    </div>
    <!-- Boutons -->
    <div class="flex w-full gap-2 items-center justify-center border-t pt-3 border-solid border-gray-200">
      <Button variant="secondary" size="base" style="red" class="cookies = false fixed" value="false">Administrér samtykke</Button>
      <Button variant="primary" size="base" style="white" class="cookies = !cookies fixed" value="true">Accepter alle</Button>
    </div>
  </div>
  <!-- Cookie BTN -->
  <button class="fixed left-4 bottom-2 z-20 rounded-full bg-gray-900 px-4 py-3 text-sm uppercase text-white" @click="cookies = !cookies">Cookies</button>

  <style>
    .logo {
      width: 140px;
    }
    .cookie-box {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      resize: vertical;
      overflow: auto;
      z-index: 100;
      background: rgba(0, 0, 0, 0.7);
    }
    .cookie-box .cookie-box-container {
      position: absolute;
      top: 30%;
      left: 20px;
      right: 20px;
      margin: -100px auto 0;
      position: fixed;
      padding: 20px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: fixed;
    }

    .cookie-box hr {
      margin: 15px 0;
    }
  </style>
  <script>
    // import Alpine from "alpinejs";

    // window.Alpine = Alpine;
    // Alpine.start();
  </script>
</div>
