---
import "../styles/global.css";
import "../styles/tokens.css";
import "../styles/base.css";
import "../styles/reset.css";
import Button from "../components/Button.astro";

const { titel, imgPath, description, price, discount1, discount2, discount3, shipping, newBadge, link } = Astro.props;
---

<!-- Nyhedsbrev sektion -->
<article class="nyhedsbrev grid lg:flex lg:justify-between spacing">
  <div class="mt-5 mb-5">
    <p class="tilmeld text-center lg:text-start" aria-label="Tilmeld dig vores nyhedsbrev">Tilmeld dig vores nyhedsbrev</p>
    <p class="tilbud text-center lg:text-start" aria-label="Vær den første til at modtage gode tilbud, inspiration og nyheder">Vær den første til at modtage gode tilbud, inspiration og nyheder</p>
  </div>
  <article class="email lg:flex gap-3 grid lg:mb-2 mb-7">
    <div class="flex search my-auto">
      <img class="w-6 my-auto mr-1 justify-between" src="/mail.webp" alt="newsletter" role="img" aria-label="newsletter" />
      <input class="" type="text" name="newsletter" placeholder="eksempel@gmail" />
    </div>
    <Button link="/index.html" variant="primary" size="base" style="white" aria-label="Tilmeld dig">Tilmeld dig</Button>
  </article>
</article>

<!-- Main footer sektion -->
<article class="mainfooter justify-between spacing">
  <div class="grid lg:grid-cols-3">
    <div class="left mt-7 lg:mt-10">
      <img class="w-44" src="/tellerup_logo3_primaer.webp" alt="Tellerup logo" role="img" aria-label="Tellerup logo" />
      <p aria-label="description of t´Tellerup">Tellerup er et af de førende danske forlag med fokus på børne- og ungdomsbøger. Oprindeligt blev forlaget grundlagt i 1972 af skolelærer Kristian Tellerup. Han havde skrevet en sød lille historie om Preben Ræv, som intet forlag havde lyst til at udgive, og så gjorde han det selv! Preben Ræv blev forlagets logo – den hylende ræv – og bogen blev genudgivet i en 40-års- jubilæumsudgave i 2012.</p>
      <div class="grid gap-2 mt-5 mb-10">
        <h2 aria-label="Kontakt">Kontakt</h2>
        <p aria-label="Telephone nr.: 00 00 00 00">Telefon: (+45) 00 00 00 00</p>
        <p aria-label="Email: info@tellerup.dk">Email: info@tellerup.dk</p>
        <p aria-label="adress: Rævensvej 111, Rævløse 2200">Rævensvej 111, Rævløse 2200</p>
      </div>
    </div>
    <div class="right lg:col-start-3 mb-5 lg:mt-10">
      <h2 aria-label="Kontakt">Sociale medier</h2>
      <div class="flex gap-2 mt-2 sociale">
        <img class="w-11" src="/facebook.webp" alt="Facebook ikon" role="img" aria-label="facebook icon" />
        <img class="w-11" src="/instagram.webp" alt="Instagram ikon" role="img" aria-label="instagram icon" />
        <img class="w-11" src="/linkedin.webp" alt="Linkedin ikon" role="img" aria-label="linkdin icon" />
      </div>
      <div class="grid lg:grid-cols-2 lg:mt-12 mt-9">
        <div class="grid gap-3">
          <h2 aria-label="Sider">Sider</h2>
          <p aria-label="Log ind">Log ind</p>
          <p aria-label="Bøger">Bøger</p>
          <p aria-label="Lydbøger">Lydbøger</p>
          <p aria-label="e-bøger">E-bøger</p>
          <p aria-label="undervisningsmateriale">Undervisningsmateriale</p>
        </div>
        <div class="grid gap-3 mt-9 lg:mt-0">
          <h2 aria-label="kundeservice">Kundeservice</h2>
          <p aria-label="Kontakt">Kontakt os</p>
          <p aria-label="Privatlivspolitik">Privatlivspolitik</p>
          <p aria-label="cookiepolitik">Cookiepolitik</p>
          <p aria-label="salgsbetingelser">Salgsbetingelser</p>
          <p aria-label="administrer samtykke">Administer samtykke</p>
        </div>
      </div>

      <ul class="pay flex gap-1 w-64 mt-10">
        <li>
          <figure>
            <img class="my-auto" src="/visa.webp" alt="Visa card" role="img" aria-label="visa card icon" />
          </figure>
        </li>
        <li>
          <figure>
            <figure>
              <img class="my-auto" src="/visaelectron.webp" alt="Visa Elektron" role="img" aria-label="visa electron card icon" />
            </figure>
          </figure>
          <li>
            <figure>
              <img class="my-auto" src="/mastercard.webp" alt="Mastercard" role="img" aria-label="mastercard card icon" />
            </figure>
          </li>
          <li>
            <figure>
              <img class="my-auto" src="/gavekort.webp" alt="Gavekort" role="img" aria-label="giftcard" />
            </figure>
          </li>
          <li>
            <figure>
              <img class="my-auto" src="/mobilpay.webp" alt="Mobilpay" role="img" aria-label="mobilepay icon" />
            </figure>
          </li>
          <li>
            <figure>
              <img class="my-auto" src="/dk.webp" alt="Dankort" role="img" aria-label="dankort card icon" />
            </figure>
          </li>
        </li>
      </ul>
    </div>

    <style>
      .pay img {
        width: 40px;
      }
      .spacing {
        padding-left: var(--globalPaddingL);
        padding-right: var(--globalPaddingL);
      }
      .search {
        border-radius: var(--globalBorderRadiusL);
        padding-right: var(--globalPaddingXl);
        padding-left: 6px;

        padding-bottom: ;
        background-color: white;
      }
      .nyhedsbrev {
        background-color: var(--middleblue);
      }

      .sociale img {
        cursor: pointer;
      }

      .right p:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      ul h2 {
        font-weight: var(--fontBold);
        font-size: var(--font-size-md);
      }

      p {
        font-weight: var(--fontNormal);
        /* font-size: var(--font-size-base); */
      }

      input {
        height: 40px;
        /* font-size: var(--font-size-base); */
      }

      .tilmeld {
        color: var(--white);
        font-size: var(--font-size-md);
        font-weight: var(--fontBold);
      }

      .tilbud {
        color: var(--white);
        /* font-size: var(--font-size-base); */
      }

      button {
        border-radius: 24px;
      }

      .mainfooter {
        background-color: var(--lightblue);
      }
    </style>
  </div>
</article>
