---
import ProductCardBest from "../components/ProductCardBest.astro";
---

<h2>Bestsellers</h2>
<section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <ProductCardBest newBadge={true} titel="Større end os" best="1" imgPath="/single.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCardBest newBadge={} titel="Større end os" best="2" imgPath="/heks.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCardBest newBadge={true} titel="Større end os" best="3" imgPath="/rx.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCardBest newBadge={} titel="Større end os" best="4" imgPath="/element.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCardBest newBadge={} titel="Større end os" best="5" imgPath="/storre.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
</section>

<style></style>
