---
import "../styles/global.css";
import "../styles/tokens.css";
import "../styles/base.css";
import "../styles/reset.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, hasSearch } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>

  <body>
    <Header hasSearch={hasSearch} />
    <main class="">
      <slot />
    </main>
     <Footer />
  </body>
</html>
